recursive-include pretalx_track_settings/static *
recursive-include pretalx_track_settings/templates *
exclude pretalx_track_settings/locale/django.pot
recursive-include pretalx_track_settings/locale *
recursive-include pretalx_track_settings *.py
include Makefile
