# This is an example pretalx configuration file.
# Documentation: https://docs.pretalx.org/administrator/configure/

[filesystem]
data = /tmp/pretalx/data
static = /tmp/pretalx/static

[site]
debug = True
url = https://pretalx.example.com

[database]
backend = sqlite3
name = /tmp/pretalx_test_db.sqlite3

