{% extends "cfp/event/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}
{% load rich_text %}
{% block title %}Register for junior session{% endblock title %}
{% block cfp_header %}
    {% include "cfp/includes/forms_header.html" %}
{% endblock cfp_header%}
{% block content %}

{% if correct_submitted %}
  <h2>Thank you!</h2>
  <p>We have registered the following data</p>
  <h4>Session</h4>
  <ul>
    <li>Title: {{ submission.title }}</li>
    <li>Speakers: {{ submission.speakers.all|join:", " }}</li>
    <li>room: {{ talkslot.room }}; time: {{ talkslot.start |date:"Y-m-d H:i" }}-{{ talkslot.end |date:"H:i" }}</li>
  </ul>
  <h4>Parent/Guardian</h4>
  <ul>
     <li>name: {{ guardian_submitted.name }}</li>
     <li>email: {{ guardian_submitted.email }}</li>
     <li>phone: {{ guardian_submitted.contact_number }}</li>
  </ul>
  <h4>participants</h4>
  <ul>
    {% for participant in registrations_submitted %}
      <li>{{ participant.nickname }} — Age: {{ participant.age }}
        {% if participant.special_needs %}- Special needs: {{ participant.special_needs }}{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p>
  Continue to the <a href="https://fosdem.org/2026/schedule/track/junior/">FOSDEM Junior schedule</a>.
  </p>

{% else %}

<script src="{% static "common/js/formTools.js" %}" defer></script>

<h2>Registration for "{{submission.title}}"</h2>
<p>
<ul>
    <li>Speaker(s): {{ submission.speakers.all|join:", " }}</li>
    <li>Number of participants (registered/max): {{ submission.nr_registrations }}/{{ submission.max_number }}</li>
    <li>{{ talkslot.room }}; {{ talkslot.start |date:"Y-m-d H:i" }}-{{ talkslot.end |date:"H:i" }}</li>
</ul>
</p>

<p>
    {{ submission.abstract | rich_text}}
</p>


<h3>Registration info</h3>
<h4>Privacy statement</h4>
<p>

We are as concerned as you are with sharing private data, especially for children.

<ul>
  <li>This data will only be used for coordinating the FOSDEM Junior track at FOSDEM. We will not sell, rent, or share your data with third parties.</li>
  <li>It will only be made available to the organisers of the track.</li>
  <li>We will remove the data from our systems no later than 14 days after the event.</li>
  <li>We allow giving nicknames so no actual names of children are shared.</li>
  <li>Your data is stored on servers in Europe. We take appropriate technical and organizational measures to protect it from unauthorized access or disclosure.</li>
  <li>You can withdraw your registration or remove your data by mailing to junior-administrator@fosdem.org</li>
</ul>

By proceeding with the registration, you consent to the processing of your personal data as described above.

</p>

<form method="post">
    {% csrf_token %}


  <h2>Parent/Guardian Information</h2>
  {{ form.as_p }}

  <h2>Participants</h2>
  {{ formset.management_form }}
<div id="formset-container">
    {% for form in formset %}
        <div class="participant-form">
        {{ form.as_p }}
        </div>
    {% endfor %}
</div>

    {# Hidden empty form template #}
    <div id="empty-form" style="display:none;">
        {{ formset.empty_form.as_p }}
    </div>

    <button type="button" id="add-form" class="btn btn-secondary">
        + Add another participant
    </button>


        <div class="col-md-3 flip ml-auto d-flex flex-column">
        <button type="submit" name="form" class="btn btn-right btn-success font-weight-bold">Register</button>
    </div>
    
</form>

{% endif %}
<script src="{% static 'fosdem_registration/js/add_participant.js' %}"></script>

{% endblock content %}




