{% extends "orga/base.html" %}
{% load copyable %}
{% load i18n %}
{% load static %}

{% block content %}
<h2>Registrations for {{ submission.title }}</h2>
<ul>
{% if schedule %}
        <li>Scheduled: {{ talkslot.start|date:"D, d M Y H:i" }} – {{ talkslot.end|date:"H:i" }} in {{ talkslot.room.name }}</li>
{% else %}
    <li>Not yet scheduled.</li>
{% endif %}
<li>public link: <a href="{% url 'plugins:fosdem_registration:register_person' submission_code=submission.code event=request.event.slug  %}">{% url 'plugins:fosdem_registration:register_person' submission_code=submission.code  event=request.event.slug %}</a> </li>
</ul>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Parent/Guardian</th>
            <th>Mail</th>
	    <th>phone</th>
            <th>Special Needs</th>
        </tr>
    </thead>
    <tbody>
        {% for reg in object_list %}
            <tr>
                <td>{{ reg.nickname }}</td>
                <td>{{ reg.age }}</td>
                <td>{{ reg.registering_person.name }}</td>
                <td>{{ reg.registering_person.email }}</td>
                <td>{{ reg.registering_person.contact_number }}</td>
                <td>{{ reg.special_needs|default:"-" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No registrations yet.</td>
            </tr>
        {% endfor %}	
    </tbody>
</table>
{% endblock %}
