{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load copyable %}
{% load i18n %}
{% load static %}

{% block cfp_content %}

<h2>Fringe Activity Submissions</h2>
<div class="table-responsive">
<table class="table table-sm table-hover table-flip">
    <thead><tr><th>online</th><th>name</th><th>url</th><th>edit</th></tr></thead>
    <tbody>
    {% for activity in fringe_activities %}
    <tr><td>{{ activity.online }}</td><td>{{activity.name}}</td><td>{{ activity.url }}</td><td><a href="{{activity.pk}}">edit</a></td></tr>
    {% endfor %}
</tbody>
</table>
</div>

{% endblock %}