{% extends "orga/base.html" %}
{% load compress %}
{% load i18n %}
{% load static %}
{% block title %}Submit Fringe event {% endblock title %}

{% block content %}
<script src="{% static "common/js/formTools.js" %}" defer></script>
<p>
    <h2>Fringe Edit</h2>
    <p>        
        Adjust Activity if required, and set online to publish to website.
    </p>



<form method="post" action="">
    {% csrf_token %}
    {{ form.name.as_field_group }}
    {{ form.location.as_field_group }}
    {{ form.description.as_field_group }}
    {{ form.why.as_field_group }}
    
    {{ form.url.as_field_group }}
    {{ form.starts.as_field_group }}
    {{ form.ends.as_field_group }}
    {{ form.cost.as_field_group }}
    {{ form.registration.as_field_group }}
    {{ form.contact.as_field_group }}

    {%if admin %}
    {{ form.online.as_field_group }}
    {% endif %}
    <div class="col-md-3 flip ml-auto d-flex flex-column">
        <button type="submit" name="form" class="btn btn-right btn-success font-weight-bold">Submit Activity</button>
    </div>
</form>
{% endblock content %}

