{% extends "orga/base.html" %}
{% load copyable %}
{% load i18n %}
{% load static %}


{% block scripts %}
    <script defer src="{% static "common/js/copy.js" %}"></script>
{% endblock %}

{% block content %}

        <h2>{{ track.name }} Track settings</h2>
<form method="post">
    {% csrf_token %}
	<div class="form-group row">
	    <div class="col-md-3"></div>
	    <div class="col-md-9">
		<h3>Opening Submissions</h3>
	    </div>
	</div>   
	{{ track_settings_form.cfp_url.as_field_group }}
	<div class="form-group row">
	    <div class="col-md-3"></div>
	    <div class="col-md-9">
		<h3> Closing Submissions</h3>
		If you want to close submissions, enable the option "requires access code". Access codes that can be used after closing are mentioned below this option.
	    </div>
	</div>   
	{{ track_form.requires_access_code.as_field_group }}
	<div class="form-group row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
            <p> Access code(s) for your track:</p>
                <ul>{% for ac in access_codes %}
                    <li>
			    <div data-destination="{{ request.scheme }}://{{ request.get_host }}/{{ request.event.slug }}/cfp?access_code={{ ac }}" title="Copy access code link" class="btn btn-sm btn-info copyable-text">
				    <i class="fa fa-link"></i>&nbsp;{{ request.scheme }}://{{ request.get_host }}/{{ request.event.slug }}/cfp?access_code={{ ac }}
                                </div>
                    </li>{% endfor %}
                </ul>
	</div>
	</div>
	<div class="form-group row">
	    <div class="col-md-3"></div>
	    <div class="col-md-9">
		<h3>Publishing the schedule</h3>
		After you have created your first schedule and you are happy about it, set "on website" to make sure the schedule on the website is updated.
	    </div>
	</div>   
	    {{ track_settings_form.on_website.as_field_group }}
	<div class="form-group row">
	    <div class="col-md-3"></div>
	    <div class="col-md-9">
		<h3>During the event</h3>
		Use these links to access the control dashboard of your (physical) room. You can share the username and password to team members managing the room.
		<ul>
			{% for item in video_room %}
			<li><a href="{{ item }}">{{ item }}</a></li>
			{% endfor %}

		</ul>
	    </div>
	</div>   
    {% include "orga/includes/submit_row.html" %}

</form>

{% endblock %}
