{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block cfp_content %}
<form method="post">
    {% csrf_token %}

    {% for track, form, invite_form in track_forms %}
        <h2>{{  track.track.name }}</h2>
        <div>
            This section allows setting things for the "{{track.track.name}}" devroom. New option may be added during the conference
        </div>
        <h3>Devroom settings</h3>
        <div>
            {% bootstrap_field form.online_qa layout='event' %}
            {% bootstrap_field form.cfp_url layout='event' %}
        </div>

<h3>Devroom managers</h3>
        <div>This are the devroom mangers for your track. Note that you can not add devroom managers yourself. Mail to devrooms@fosdem.org for that.</div>

        <table class="table table-sm table-hover table-flip">
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for user in  track.manager_team.members.all %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{  user.email }}</td>
            </tr>
        {% endfor %}
        {% for invite in  track.manager_team.invites.all %}
            <tr>
                <td><i>pending Invitation</i></td>
                <td>{{  user.email }}</td>
            </tr>
        {% endfor %}
                        </tbody>
        </table>


                    <h3>
                Review team members
            </h3>
            <div>
        This section allow setting reviewers for your track. Reviewers can review and vote proposals but have no access to the full admin interface.
    </div>

            <form method="post">{% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-flip">
                        <thead>
                            <tr>
                                <th>{% translate "Name" %}</th>
                                <th>{% translate "Email" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in track.review_team.members.all %}
                                <tr>
                                    <td>{{ member.get_display_name }}</td>
                                    <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
                                    <td class="flip text-right">
                                    {% comment %}
                                        <a
                                            href="{% if request.event %}{{ request.event.orga_urls.team_settings }}{% else %}{{ request.organiser.orga_urls.teams }}{% endif %}{{ track.review_team.id }}/reset/{{ member.id }}"
                                            class="btn btn-sm btn-warning"
                                        >
                                            {% translate "Reset password" %}
                                        </a>
                                        <a
                                            href="{% if request.event %}{{ request.event.orga_urls.team_settings }}{% else %}{{ request.organiser.orga_urls.teams }}{% endif %}{{ track.review_team.id }}/delete/{{ member.id }}"
                                            class="btn btn-sm btn-danger" title="{% translate "Remove team member" %}"
                                        >
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    {% endcomment %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for member in track.review_team.invites.all %}
                                <tr>
                                    <td>
                                        <em>({% translate "pending Invitation" %})</em>
                                    </td>
                                    <td>
                                        {{ member.email }}
                                        <a href="{{ member.urls.invitation }}">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </td>
                                    <td class="flip text-right">
                                        {%  comment %} TODO: taken from the teams page - extra endpoints must be added to allow resend/trash invites
                                         <a
                                            href="{% if request.event %}{{ request.event.orga_urls.team_settings }}{% else %}{{ request.organiser.orga_urls.teams }}{% endif %}{{ member.id }}/resend"
                                            class="btn btn-sm btn-outline-warning"
                                        >
                                            {% translate "Resend invite" %}
                                        </a>
                                        <a
                                            href="{% if request.event %}{{ request.event.orga_urls.team_settings }}{% else %}{{ request.organiser.orga_urls.teams }}{% endif %}{{ member.id }}/uninvite"
                                            class="btn btn-sm btn-danger"
                                        >
                                            <i class="fa fa-trash"></i>
                                        </a>
                                     {% endcomment %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><strong>{% translate "Add member" %}</strong></td>
                                <td>{% csrf_token %}{% bootstrap_field invite_form.email layout='inline' %}</td>
                                <td class="flip text-right">
                                    <button type="submit" name="form" value="invite" class="btn btn-success btn-sm"><i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        <hr />
    {% endfor %}
            <button type="submit" class="btn btn-block btn-success font-weight-bold">
                {% translate "Submit changes" %}
            </button>
</form>
{% endblock %}
