recursive-include devroom_settings/static *
recursive-include devroom_settings/templates *
exclude devroom_settings/locale/django.pot
recursive-include devroom_settings/locale *
recursive-include devroom_settings *.py
include Makefile
